/* Soluzione qui */

/* Mobile first*/

@media screen and (min-width: 768px) {
  #topbar {
    height: 70px;
    padding: 0 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  main {
    background-color: #f6f5f3;
    padding: 50px;
    min-height: calc(100vh - 70px);
  }

  .recipe-rating {
    width: 15%;
    min-width: 150px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
  }

  .recipe-rating .btn {
    width: auto;
    background-color: #f7972e;
  }

  .recipe-origin {
    display: inline;
  }
  .recipe-name {
    color: #4e3969;
    font-weight: 800;
    font-size: 1.7rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 33%;
    }
  }

  .btn {
    border: 0;
    font-size: 14px;
    font-weight: bold;
    width: 25%;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fff;
  }

  .ads img {
    padding-top: 30px;
    max-width: 100%;
  }

  .ads {
    display: inline;
    margin: 30px auto;
  }
  .presentation img {
    max-width: 300px;
    display: block;
    margin: 0 10px 20px 0;
    margin-bottom: 10px;
    box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
    float: left;
  }
}
